@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Piata Victoriei Nr. 2<br />
    300006 Timişoara, jud. Timiş, România<br />
    <abbr title="Telefon">T:</abbr>
    0256-403000
</address>