@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Universitatea Politehnica din Timisoara</h1>
    <p class="lead">"Nu zidurile fac o şcoalã, ci spiritul care domneşte într’însa." Regele Ferdinand I, 1923</p>
    <p><a href="http://www.upt.ro" class="btn btn-primary btn-lg">Afla mai multe</a></p>
</div>